<!--TODO finish-->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
  {iteration:comments}
    <li class="list-group-item">[{$comments.commentId} updated  {$comments.commentUpdate}<a href="#comment'.$commentId.'" class="btn btn-mini" data-toggle="collapse" data-target="#comment'.$commentId.'">
						<i class="fa fa-pencil"></i></a> <a href="delete_comment.php?id='.$commentId.'&amp;return='.$id.'" 
						class="btn btn-mini"><i class="fa fa-trash"></i></a></li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
	{iteration:comments}
  </ul>
</div>
